/* doan nay de chinh giao dien phu hop cho dien thoai */

/*deleted deleted*/

/* doan nay de chinh giao dien phu hop cho dien thoai */



#calculator
{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    overflow:hidden;
    border-radius: 15px;
    width:30%;
    
}


#display
{
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    height: 4cm;
    border:none;
    border: 1px solid #ccc;
    text-align: left;
    background-color: rgb(53, 50, 50);  
    color:white;
}


#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

button{
    height: 50px;
    width: 70%;
    font-weight: bold;
    padding: 10px 10px;
    margin: 0%;
    font-size: 18px;
    border-radius: 5px;
    border: 0;
    background-color: white ;
    color: black;
    cursor: pointer;
}

body
{
    flex-direction: column; /* Ensure the body is a flex container with column direction */

    background-image: url("girlalime.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 10px;
    padding-right: 100px;
    height: 110vh;
    background-color: lightgray;
}

button:hover
{
    background-color: lightblue;
}

button:active
{
    background-color: lightcoral;
}

.operator
{
    background-color: orange;
}

.operator:hover
{
    background-color: darkorange;
}

.operator:active
{
    background-color: hsl(30, 100%, 90%);
}

#first
{
    background-color: lightgreen;
}

#theme
{
    position: absolute;
    bottom: -80px;
    right: 10px;
    opacity: 0.4;
}

#background-video
{
    display: none; /* hide the video element */
    position: fixed; /* position the video to cover the entire background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* video covering the entire background */
    z-index: 9999; /* ensure the video is on top of other elements */
    background-color: black; /* fallback color in case the video fails to load */
}
